#intro {
    .wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 96px;
        padding-bottom: 90px;

        .wrapper__right {
            position: relative;
            width: 400px;

            .wrapper__right--active {
                position: absolute;
                top: -30px;
                left: -30px;
                transition: all 0.3s ease;

            }

            .wrapper__right--active:hover {
                top: 0;
                left: 0;
            }
        }

        .wrapper__left {
            .wrapper__left--title {
                font-family: "Inter";
                font-size: 60px;
            }

            .wrapper__left--desc {
                font-size: 16px;
                font-family: "Inter";
                color: $light-grey;
                width: 780px;
                height: 72px;
                margin-bottom: 50px;
                margin-top: 5px;
            }

            .wrapper__left--location {
                display: flex;
                align-items: center;
                font-family: "Inter";
                color: $light-grey;
                gap: 8px;
                margin-bottom: 8px;
            }

            .wrapper__left--notify {
                display: flex;
                align-items: center;
                font-family: "Inter";
                color: $light-grey;
                gap: 8px;
                margin-bottom: 48px;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    #intro {
        background-color: $dark-grey;

        .wrapper {
            padding-left: 40px;
            .wrapper__left {

                .wrapper__left--title {
                    color: $light;
                }

                .wrapper__left--desc {
                    color: $light;
                }
            }
        }


    }

    p {
        color: $light;
    }
}

@media only screen and (max-width: 600px) {
    #intro {
        .wrapper {
            display: block;

            .wrapper__left {
                padding-bottom: 50px;

                .wrapper__left--title {
                    font-size: 36px;
                }

                .wrapper__left--desc {
                    width: 343px;
                    margin-bottom: 75px;
                }
            }
        }
    }

}

@font-face {
    font-family: "Inter";
    src: url(../../fonts/static/Inter-Medium.ttf);
}