#skills {
    padding: 96px 80px;

    .skills__title {

        display: flex;
        justify-content: center;
        padding-bottom: 48px;

        h3 {
            background-color: $bg-grey-200;
            padding: 4px 20px;
            border-radius: 12px;
            font-family: "Inter";
            font-size: 14px;
            color: $light-grey;
        }
    }

    .skills__info {
        display: grid;
        place-content: center;
        font-family: "Inter";
        color: $light-grey;
        font-size: 20px;
    }

    .icons__first-line {
        display: flex;
        justify-content: space-between;
        padding: 48px 48px;

        .card {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            font-family: "Inter";
            color: $light-grey;
            font-size: 18px;
        }
    }

    .icons__second-line {
        display: flex;
        justify-content: space-between;
        padding: 48px 48px;

        .card {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            font-family: "Inter";
            color: $light-grey;
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 600px) {
    #skills {
        .skills__info {
            width: 343px;
            text-align: center;
        }

        .icons__first-line {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            padding: 0px;
            padding-top: 10px;
        }

        .icons {
            gap: 0;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        .icons__second-line {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            padding: 0px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    #skills {
        background-color: $dark-grey;

        .skills__info {
            color: $light;
        }
    }
}