#testimonials {
    background-color: $bg-light-grey;
    padding: 96px 80px;

    .test__title {

        display: flex;
        justify-content: center;
        padding-bottom: 48px;

        h3 {
            background-color: $bg-grey-200;
            padding: 4px 20px;
            border-radius: 12px;
            font-family: "Inter";
            font-size: 14px;
            color: $light-grey;
        }
    }

    .test__info {
        display: grid;
        place-content: center;
        font-family: "Inter";
        color: $light-grey;
        font-size: 20px;
    }

    .cards__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 48px;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $light;
            padding: 48px 48px;
            width: 373px;
            height: 430px;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.15) 0.50px 3.90px 2.6px;

            .card__info {
                font-family: "Inter";
                font-size: 16px;
                color: $light-grey;
                padding: 24px 24px;
            }

            h1 {
                font-family: "Inter";
                font-size: 20px;
                color: $grey;
            }

            p {
                font-family: "Inter";
                font-size: 14px;
                padding-top: 5px;
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    #testimonials {
        .cards__wrapper {
            display: block;
            
            .card {
                width: 343px;
                height: 420px;
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
            }
        }

    }
}

@media (prefers-color-scheme: dark) {
    #testimonials {
        background-color: $grey;

        .test__info {
            color: $light;
        }

        .cards__wrapper {
            .card {
                background-color: $bg-dark;

                h1 {
                    color: $light;
                }

                .card__info {
                    color: $light;
                }
            }
        }
    }

}